<?xml version="1.0"?>

<launch>

  <node pkg="nodelet" type="nodelet" name="stereo_proc"  args="manager"/>

  <node name="disparity_image_proc" pkg="nodelet" type="nodelet" args="load disparity_image_proc/depth_image stereo_proc" output="screen">
    <remap from="/right/camera_info" to="/stereo/right/camera_info"/>
    <remap from="/left/camera_info" to="/stereo/left/camera_info"/>
    <remap from="/left/image_rect_color" to="/stereo/left/image_rect_color"/>
    <remap from="/disparity" to="/stereo/disparity"/>
    <remap from="/depth_image" to="/stereo/left/depth_image"/>    
    <param name="approximate_sync" value="true" />
  </node>


</launch>